<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogger.com - Crea un blog atractivo y original. Es fácil y gratuito.</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .container1{
            background: darkcyan;
        }

        .container2{
            background: orange;
        }

        .container3{
            background: darkred;
        }

        .container4{
            background: gray;
        }

        .container5{
            background: darkslategrey;
        }

        .btn-black{
            color: cyan;
        }
        h1, h2, h3, p{
            color: white;
            text-align: center;
        }

        a, h4, h5, h6, li{
            color: white;
            text-align: left;
        }


        #recientes{
            text-align: left;
        }
        .separador{
            margin-left: 44px;
            margin-right: 26px;

        }

        .separador2{
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .button-style {
            padding: .875rem 1.25rem;
            background: orange;
            font-weight: 500;
            font-size: .8125rem;
            font-family: "Roboto",sans-serif;
            color: white;
            position:relative;
            right:50%;
            left:45%;
        }

        .button-style2 {
            padding: .875rem 1.25rem;
            background: gray;
            font-weight: 500;
            font-size: .8125rem;
            font-family: "Roboto",sans-serif;
            color: white;
            position:relative;
            right:50%;
            left:45%;
        }

        .button-style-sesion {
            padding: .875rem 1.25rem;
            background: darkcyan;
            font-weight: 500;
            font-size: .8125rem;
            font-family: "Roboto",sans-serif;
            color: white;
            position:absolute;
            right: 0;
            width: 150px;

        }
        .imagen-style{
            width: 444px;
            height: 309px;
        }

        .imagen-style2{

            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;

         }


        .col-sm-3.imagen{
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        .form-control{
            background-color: black;
        }
    </style>
</head>
<body>
<div class="container1">
    <div class="row">

        <div class="col-sm-4">

            <img src="/imagenes/blogger.png" alt="blog">
                <a href="">Blogger</a>


        </div>

        <a href="" class="button-style-sesion">INICIAR SESIÓN</a>

    </div>
</div>
<div class="container1">
    <div class="row">
        <div class="col-sm-12">
            <h3>Escribe sobre lo que te apasiona y a tu manera</h3>
            <p>Crea un blog atractivo y original. Es fácil y gratuito.</p>
            <button type="button" class="button-style">CREA TU BLOG</button>

        </div>

        <div class="separador2"></div>



        <img class="imagen-style2" src="/imagenes/imagen-blog.png" alt="blog">





    </div>
</div>

<div class="container2">

    <div class="row">

        <div class="col-sm-1">

        </div>

        <div class="col-sm-6">
            <div class="separador2"></div>
            <h3>Elige el diseño perfecto</h3>
            <p>Crea un blog atractivo y adaptado a tu estilo. Dispones de un surtido de plantillas para elegir, fáciles de usar, con diseños flexibles y montones de imágenes de fondo, o puedes diseñar un blog totalmente nuevo.</p>

        </div>

                <div class="col-sm-3">
                    <div class="separador2"></div>

                        <img class="imagen-style" src="/imagenes/img-dis.png" alt="disenio">

                </div>
    </div>
</div>

<div class="container3">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="separador2"></div>
            <h3>Consigue un dominio gratuito</h3>
            <p>Encuentra el alojamiento perfecto para tu blog. Consigue un dominio gratuito blogspot.com o compra uno personalizado en un par de clics.</p>

        </div>

        <div class="col-sm-3">
            <div class="separador2"></div>

                <img class="imagen-style" src="/imagenes/img-dominio.png" alt="dominio">

        </div>

        <div class="col-sm-3">
            <div class="separador2"></div>

                <img class="imagen-style" src="/imagenes/img-dominio.png" alt="dominio">

        </div>


    </div>
</div>

<div class="container1">
    <div class="row">


        <div class="col-sm-4">
            <div class="separador2"></div>

                <img class="imagen-style" src="/imagenes/img-dinero.png" alt="dinero">

        </div>

        <div class="col-sm-6">
            <div class="separador2"></div>
            <h3>Gana dinero</h3>
            <p>Sácale un rendimiento a tu esfuerzo. De forma automática, Google AdSense puede mostrar en tu blog anuncios relevantes, orientados a tus lectores: así obtienes ingresos mientras escribes sobre lo que te apasiona.</p>

        </div>


    </div>
</div>

<div class="container4">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
            <div class="separador2"></div>
            <h3>Conoce a tu audiencia</h3>
            <p>Descubre qué entradas tienen más éxito con los análisis integrados en Blogger. Puedes ver el origen de tus lectores y qué les interesa. Si quieres saber más detalles, tienes la opción de conectar tu blog directamente con Google Analytics.</p>

        </div>

        <div class="col-sm-3">
            <div class="separador2"></div>

            <img class="imagen-style" src="/imagenes/img-mundo.png" alt="mundo">

        </div>


    </div>
</div>


<div class="container3">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
            <div class="separador2"></div>
            <h3>Aférrate a tus recuerdos</h3>
            <p>Guarda los momentos que importan. Blogger te permite guardar con toda la seguridad y gratis miles de entradas, fotos y otras cosas con Google.</p>

        </div>

        <div class="col-sm-3">
            <div class="separador2"></div>

            <img class="imagen-style" src="/imagenes/img-recuerdos.png" alt="recuerdo">
        </div>

    </div>
</div>


<div class="container2">
    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">
            <div class="separador2"></div>
            <h3>Súmate a millones de blogueros</h3>
            <p>Tanto si quieres compartir tus conocimientos como dar las últimas noticias o decir lo que se te pase por la cabeza, en Blogger estás muy bien acompañado. Regístrate para saber por qué millones de personas han escrito aquí sobre lo que les apasiona.</p>
            <button type="button" class="button-style2">CREA TU BLOG</button>
            <div class="separador2"></div>

                <div class="col-sm-3">
                </div>
        </div>

    </div>
</div>

<div class="container5">

    <div class="row">
        <div class="separador"></div>
        <div class="col-sm-2">
            <div class="separador2"></div>
            <h4>Ayuda</h4>
            <li>Centro de Ayuda</li>
            <li>Foro de Ayuda</li>
            <li>Tutoriales en video</li>
        </div>

        <div class="col-sm-2">
            <div class="separador2"></div>
            <h4>Comunidad</h4>
            <li>Blogger Buzz</li>

        </div>

        <div class="col-sm-3">
            <div class="separador2"></div>
            <h4>Desarrolladores</h4>
            <li>API de Blogger</li>
            <li>Foro de desarrolladores</li>
        </div>

    </div>


</div>


<div class="container5">

    <div class="row">
        <div class="separador"></div>
        <div class="col-sm-2">
            <div class="separador2"></div>
            <a href="">Condiciones de servicio</a>

            <div class="separador2"></div>
        </div>

        <div class="col-sm-1">
            <div class="separador2"></div>
            <a href="">Privacidad</a>

            <div class="separador2"></div>
        </div>

        <div class="col-sm-2">
            <div class="separador2"></div>
            <a href="">Politica de contenidos</a>

            <div class="separador2"></div>

        </div>

    </div>


    <div class="row">

</div>

</div>
</body>
</html>