<!doctype html>
<html lang="es">
<head>
    <title>Creación de paciente</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .encabezado{
            background: gray;
            color: white;
        }
        .container{
            background: white;
        }
        .btn, .btn-salir {
            padding-left: 28px;
            padding-right: 28px;

            background: seagreen;
            font-weight: 800;
            font-size: .8125rem;
            font-family: "Roboto",sans-serif;
            color: white;

            right:50%;
            left:45%;
        }

        .btn{
            background:darkslategrey;
            color:white;
        }

        table,tr,td, th{
            border: solid black 1px;
            text-align: center;
        }
        table{
            border: solid black 2px;
            width: 100%;
        }


        .separador{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
</head>

<body>
<!--Reutilización -->
<div class="encabezado">
    <div class="row">
        <div class="col-sm-8">
            <a> Aplicación pacientes-medicamentos</a>
        </div>
        <div class="col-sm-2">
            <a>  Usuario: <%= nombre%></a>
        </div>
        <div class="col-sm-2">
            <form action="/api/salir" method="POST">
                <button class="btn-salir">Salir</button>
            </form>
        </div>
    </div>
</div>
<!--Fin reutilización -->








    <div class="container" >
        <div class="separador"></div>
        <h1 style="text-align: center">Registrar paciente</h1>

        <form action="/api/crear-paciente" method="post">



                <div class="row">
                    <div class="col-sm-3">
                        <label for="nombres">Nombres </label>
                    </div>
                    <div class="col-sm-9">
                        <input id="nombres" name="nombres" type="text" style="width: 400px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label for="apellidos">Apellidos </label>
                    </div>
                    <div class="col-sm-9">
                        <input id="apellidos" name="apellidos" type="text" style="width: 400px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="fechaNacimiento" name="fechaNacimiento" type="date" style="width: 300px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label for="hijos">Número de hijos</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="hijos" name="hijos" type="number" min="0" style="width: 330px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label for="tieneSeguro">Seguro</label>
                    </div>
                    <div class="col-sm-9">

                        <input id="tieneSeguro" name="tieneSeguro" type="radio" >
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <a href="/api/pacientes">
                            <button class="btn" type="button" style="width: 180px">Cancelar</button>
                        </a>
                    </div>
                    <div class="col-sm-9">

                            <button class="btn" type="submit" style="width: 180px">Crear</button>

                    </div>
                </div>
            </form>

    </div>


</body>
</html>